@import url("https://fonts.loli.net/css2?family=Bebas+Neue&family=Questrial&family=Noto+Sans+SC&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
h1 {
  font-size: 2em;
}
img {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-ms-clear {
  display: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  background: transparent;
}
a:link,
a:active,
a:hover {
  outline: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  cursor: url("../images/cursor.svg"), auto;
  font-size: 15px;
  line-height: 1.6;
}
* a {
  cursor: url("../images/cursor-active.svg"), auto;
}
::-moz-selection {
  background: transparent;
  color: #3a91f2;
}
::selection {
  background: transparent;
  color: #3a91f2;
}
#more {
  display: none;
}
html {
  background-color: #f9f9f9;
  height: 100%;
}
html body {
  background-color: #f9f9f9;
  height: 100%;
  font-family: 'Questrial', 'PingFang SC', 'Hiragino Sans GB', 'Noto Sans SC', 'Microsoft YaHei', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
}
html body .container {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
}
@media only screen and (max-width: 480px) {
  html body .container {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
html body .container .navbar {
  width: calc(61.8vh);
  height: 100vh;
  padding: 80px 0;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-image: linear-gradient(90deg, rgba(249,249,249,0.6), #f9f9f9), url("https://i.loli.net/2019/11/28/gVl5yQrfcmSMN3W.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 1600px) and (min-width: 1200px) {
  html body .container .navbar {
    width: calc(38.2vw);
  }
}
@media only screen and (max-width: 1200px) and (min-width: 800px) {
  html body .container .navbar {
    width: calc(38.2vw);
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  html body .container .navbar {
    width: calc(38.2vw);
  }
}
@media only screen and (max-width: 480px) {
  html body .container .navbar {
    width: 100%;
    height: 30vh;
    padding: 16px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(#fff)), url("https://i.loli.net/2019/11/28/gVl5yQrfcmSMN3W.png");
    background-image: linear-gradient(180deg, rgba(255,255,255,0.6), #fff), url("https://i.loli.net/2019/11/28/gVl5yQrfcmSMN3W.png");
    background-position: center 132%;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
html body .container .navbar .view {
  width: 100%;
  margin-right: 16px;
}
@media only screen and (max-width: 480px) {
  html body .container .navbar .view {
    margin-right: 0;
  }
}
html body .container .navbar .view .title {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
html body .container .navbar .view .title p {
  font-size: 48px;
  font-weight: bold;
}
html body .container .navbar .view .title span {
  font-size: 16px;
  opacity: 0.6;
}
@media only screen and (max-width: 480px) {
  html body .container .navbar .view .title {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  html body .container .navbar .view .title p {
    font-size: 36px;
  }
  html body .container .navbar .view .title span {
    font-size: 12px;
  }
}
html body .container .navbar .view .menu {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 16px;
}
html body .container .navbar .view .menu a {
  display: block;
  height: 36px;
  margin-bottom: 4px;
  padding: 0 12px;
  font-size: 20px;
  line-height: 36px;
  text-align: right;
  font-weight: bold;
  transition: background-color, 0.6s;
  -webkit-transition: background-color, 0.6s;
  -moz-transition: background-color, 0.6s;
  -ms-transition: background-color, 0.6s;
  -o-transition: background-color, 0.6s;
}
html body .container .navbar .view .menu a:hover {
  background-color: #d7dae3;
}
html body .container .navbar .view .menu .active,
html body .container .navbar .view .menu .active:hover {
  background-color: #3a91f2;
  color: #fff;
}
@media only screen and (max-width: 480px) {
  html body .container .navbar .view .menu {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  html body .container .navbar .view .menu a {
    height: 30px;
    padding: 0 8px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
html body .container .content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}
html body .container .content::-webkit-scrollbar {
  width: 0 !important;
}
html body .container .content .card-view {
  -webkit-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  padding: 40px;
  overflow: auto;
  -webkit-backface-visibility: hidden;
}
html body .container .content .card-view .card {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 20px;
  padding-bottom: 20px;
  -webkit-transition: 0.36s, -webkit-box-shadow;
  transition: 0.36s, -webkit-box-shadow;
  transition: box-shadow, 0.36s;
  transition: box-shadow, 0.36s, -webkit-box-shadow;
  -webkit-transition: box-shadow, 0.36s;
  -moz-transition: box-shadow, 0.36s;
  -ms-transition: box-shadow, 0.36s;
  -o-transition: box-shadow, 0.36s;
  overflow: hidden;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
html body .container .content .card-view .card:hover {
  -webkit-box-shadow: 0 10px 40px rgba(215,218,227,0.8);
  box-shadow: 0 10px 40px rgba(215,218,227,0.8);
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  z-index: 999;
}
html body .container .content .card-view .card img {
  display: block;
  width: 100%;
}
html body .container .content .card-view .card .title {
  font-size: 18px;
  margin: 16px 16px 0 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
html body .container .content .card-view .card .date {
  font-size: 13px;
  line-height: 20px;
  opacity: 0.6;
  margin-bottom: 4px;
}
html body .container .content .card-view .card .tag {
  display: block;
  padding: 0px 5px;
  background-color: #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
@media only screen and (max-width: 1600px) and (min-width: 1200px) {
  html body .container .content .card-view {
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 800px) {
  html body .container .content .card-view {
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  html body .container .content .card-view {
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (max-width: 480px) {
  html body .container .content .card-view {
    padding: 16px;
    -webkit-column-count: 2;
    column-count: 2;
  }
  html body .container .content .card-view .card {
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
  html body .container .content .card-view .card .title {
    margin: 8px 16px;
    font-size: 16px;
  }
}
html body .container .content .grid-view {
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  padding: 40px;
  overflow: auto;
  -webkit-backface-visibility: hidden;
}
html body .container .content .grid-view .card {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("https://i.loli.net/2020/07/10/4okd8vsDp9jX5Tb.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc((61.8vw - 120px) / 4);
  margin-bottom: 20px;
  -webkit-transition: 0.36s, -webkit-box-shadow;
  transition: 0.36s, -webkit-box-shadow;
  transition: box-shadow, 0.36s;
  transition: box-shadow, 0.36s, -webkit-box-shadow;
  -webkit-transition: box-shadow, 0.36s;
  -moz-transition: box-shadow, 0.36s;
  -ms-transition: box-shadow, 0.36s;
  -o-transition: box-shadow, 0.36s;
  overflow: hidden;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
html body .container .content .grid-view .card:hover {
  -webkit-box-shadow: 0 10px 40px rgba(215,218,227,0.8);
  box-shadow: 0 10px 40px rgba(215,218,227,0.8);
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  z-index: 999;
}
html body .container .content .grid-view .card:hover .text {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
html body .container .content .grid-view .card .text {
  display: none;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255,255,255,0.96), rgba(255,255,255,0.81));
}
html body .container .content .grid-view .card .text .title {
  font-size: 18px;
  margin: 0 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
html body .container .content .grid-view .card .text .date {
  font-size: 13px;
  line-height: 20px;
  opacity: 0.6;
  margin-bottom: 4px;
}
html body .container .content .grid-view .card .text .tag {
  display: block;
  padding: 0px 4px;
  background-color: #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
@media only screen and (max-width: 1600px) and (min-width: 1200px) {
  html body .container .content .grid-view .card {
    height: calc((61.8vw - 120px) / 3);
  }
}
@media only screen and (max-width: 1200px) and (min-width: 800px) {
  html body .container .content .grid-view .card {
    height: calc((61.8vw - 120px) / 3);
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  html body .container .content .grid-view .card {
    height: calc((61.8vw - 120px) / 2);
  }
}
@media only screen and (max-width: 480px) {
  html body .container .content .grid-view .card {
    height: calc((100vw - 48px) / 2);
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1200px) {
  html body .container .content .grid-view {
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 800px) {
  html body .container .content .grid-view {
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  html body .container .content .grid-view {
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (max-width: 480px) {
  html body .container .content .grid-view {
    padding: 16px;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 16px;
    column-gap: 16px;
  }
  html body .container .content .grid-view .card .text .title {
    margin: 0 16px;
    font-size: 14px;
  }
}
html body .container .content .list-view {
  padding: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
html body .container .content .list-view .card {
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 40px;
}
html body .container .content .list-view .card:first-child {
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
@media only screen and (max-width: 1600px) {
  html body .container .content .list-view .card:first-child {
    grid-column-end: 1;
  }
}
html body .container .content .list-view .card .title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
html body .container .content .list-view .card .substract {
  font-size: 12px;
  line-height: 20px;
  opacity: 0.6;
}
html body .container .content .list-view .card .block {
  margin-top: 16px;
}
html body .container .content .list-view .card .block .job {
  font-size: 16px;
  line-height: 24px;
}
html body .container .content .list-view .card .block .company {
  font-size: 14px;
  line-height: 20px;
}
html body .container .content .list-view .card .block .time {
  font-size: 12px;
  line-height: 20px;
  opacity: 0.6;
}
html body .container .content .list-view .card ul {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
}
html body .container .content .list-view .card ul li {
  list-style: none;
  padding-left: 12px;
}
html body .container .content .list-view .card ul li::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  background-color: #000;
  position: relative;
  left: -8px;
  top: 10px;
  float: left;
  opacity: 0.6;
}
html body .container .content .list-view .card .gap {
  height: 16px;
}
html body .container .content .list-view .card .tool {
  margin-top: 8px;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
html body .container .content .list-view .card .tool img {
  line-height: 0;
  margin: 8px;
}
html body .container .content .list-view .card .tool img:hover {
  filter: drop-shadow(0px 4px 8px rgba(58,60,67,0.4));
  -webkit-filter: drop-shadow(0px 4px 8px rgba(58,60,67,0.4));
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  cursor: url("../images/cursor-active.svg"), auto;
}
html body .container .content .list-view .article .header {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 24px;
}
html body .container .content .list-view .article .header .title {
  font-size: 30px;
  line-height: 36px;
  display: inline-block;
}
html body .container .content .list-view .article .header .tag {
  display: block;
  margin: 8px 0;
  padding: 0px 6px;
  background-color: #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 4px;
}
html body .container .content .list-view .article .header .date {
  font-size: 14px;
  line-height: 22px;
  color: #3a3c43;
  opacity: 0.6;
}
html body .container .content .list-view .article .paper h1 {
  font-size: 25px;
}
html body .container .content .list-view .article .paper h2 {
  font-size: 23px;
}
html body .container .content .list-view .article .paper h3 {
  font-size: 21px;
}
html body .container .content .list-view .article .paper h4 {
  font-size: 19px;
}
html body .container .content .list-view .article .paper h5 {
  font-size: 17px;
}
html body .container .content .list-view .article .paper h6 {
  font-size: 15px;
}
html body .container .content .list-view .article .paper h1,
html body .container .content .list-view .article .paper h2,
html body .container .content .list-view .article .paper h3,
html body .container .content .list-view .article .paper h4,
html body .container .content .list-view .article .paper h5,
html body .container .content .list-view .article .paper h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}
html body .container .content .list-view .article .paper p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1rem;
}
html body .container .content .list-view .article .paper a {
  vertical-align: middle;
  white-space: pre-wrap;
  color: #3a91f2;
}
html body .container .content .list-view .article .paper a.headerlink {
  display: none;
}
html body .container .content .list-view .article .paper a:hover {
  font-weight: bold;
}
html body .container .content .list-view .article .paper blockquote {
  background-color: #f9f9f9;
  color: rgba(58,60,67,0.8);
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 1rem;
  padding: 2rem 2rem 1rem 4rem;
  background-image: url("https://i.loli.net/2019/12/05/POmT4VLarEep6zo.png");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: 1rem 1rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
html body .container .content .list-view .article .paper ol {
  margin: 0 0 1rem 1rem;
}
html body .container .content .list-view .article .paper figure {
  margin-bottom: 1rem;
  padding: 1rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#3a3c43), to(rgba(58,60,67,0.84)));
  background: linear-gradient(0deg, #3a3c43, rgba(58,60,67,0.84));
  color: rgba(215,218,227,0.96);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  overflow-x: auto;
}
html body .container .content .list-view .article .paper pre {
  padding: 0 1rem;
  font-size: 13px !important;
}
html body .container .content .list-view .article .paper code {
  margin: 0 4px;
  padding: 4px 6px;
  border: none;
  vertical-align: middle;
  white-space: pre-wrap;
  background-color: #3a3c43;
  color: #fff;
  font-size: 13px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  font-family: 'Questrial', 'PingFang SC', 'Hiragino Sans GB', 'Noto Sans SC', 'Microsoft YaHei', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
}
html body .container .content .list-view .article .paper .highlight .gutter {
  width: 1.5rem;
  color: rgba(215,218,227,0.36);
  border-right: 1px solid rgba(215,218,227,0.6);
  font-weight: bold;
}
html body .container .content .list-view .comment {
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
html body .container .content .grid-view .card .banggood {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(236,107,46,0.96)), to(rgba(35,24,21,0.81)));
  background-image: linear-gradient(0deg, rgba(236,107,46,0.96), rgba(35,24,21,0.81));
  color: #fff;
}
html body .container .content .grid-view .card .newchic {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255,22,94,0.96)), to(rgba(253,77,77,0.81)));
  background-image: linear-gradient(0deg, rgba(255,22,94,0.96), rgba(253,77,77,0.81));
  color: #fff;
}
html body .container .content .grid-view .card .mieye {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(63,168,244,0.96)), to(rgba(63,168,244,0.81)));
  background-image: linear-gradient(0deg, rgba(63,168,244,0.96), rgba(63,168,244,0.81));
  color: #fff;
}
html body .container .content .grid-view .card .fishing {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(248,76,29,0.96)), to(rgba(249,114,30,0.81)));
  background-image: linear-gradient(0deg, rgba(248,76,29,0.96), rgba(249,114,30,0.81));
  color: #fff;
}
html body .container .content .grid-view .card .topsales {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(93,139,255,0.96)), to(rgba(93,139,255,0.81)));
  background-image: linear-gradient(0deg, rgba(93,139,255,0.96), rgba(93,139,255,0.81));
  color: #fff;
}
html body .container .content .grid-view .card .brain {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,38,255,0.96)), to(rgba(119,0,255,0.81)));
  background-image: linear-gradient(0deg, rgba(0,38,255,0.96), rgba(119,0,255,0.81));
  color: #fff;
}
html body .container .content .grid-view .card .tft {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(39,113,121,0.96)), to(rgba(67,51,24,0.81)));
  background-image: linear-gradient(0deg, rgba(39,113,121,0.96), rgba(67,51,24,0.81));
  color: #fff;
}
html body .container .content .grid-view .card .moonplate {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(25,44,124,0.96)), to(rgba(10,1,74,0.81)));
  background-image: linear-gradient(0deg, rgba(25,44,124,0.96), rgba(10,1,74,0.81));
  color: #fff;
}
@media only screen and (max-width: 1600px) {
  html body .container .content .list-view {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 480px) {
  html body .container .content .list-view {
    padding: 16px;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }
  html body .container .content .list-view .card {
    padding: 20px;
  }
  html body .container .content .list-view .card .title {
    font-size: 16px;
    line-height: 24px;
  }
  html body .container .content .list-view .card ul {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
  }
  html body .container .content .list-view .card .tool img {
    width: 44px;
    height: 44px;
    margin: 8px;
  }
  html body .container .content .list-view .comment {
    grid-column-end: auto;
  }
}
